# Testing Notebook

In [1]:
import psycopg2
import pandas as pd
import numpy as np

In [25]:
#Establising connection to database
conn = psycopg2.connect("host=127.0.0.1 dbname=vice user=vice password=vice")
cur = conn.cursor()

In [26]:
#conn = psycopg2.connect(host="127.0.0.1", port="5432", dbname="vice", user="vice", password="vice")

#conn = psycopg2.connect(host="postgres", port="5432", dbname="vice", user="vice", password="vice")

In [32]:
#Executing sql code with cursor.
cur.execute("""
SELECT j.id as job_id, 
j.name as job_name, 
j.expected_revenue,
re.id as revenue_id,
re.order_id,
re.order_name,
extract(MONTH from re.month_of_service) as month_of_service,
re.delivered_impressions,
re.revenue
from revenue_entries as re 
left join jobs as j on re.job_id = j.id
where job_id = %s""", '1')

SyntaxError: syntax error at or near "s"
LINE 13: where job_id = '1's
                           ^

In [29]:
#Fetching all data from cursor.
tuples = cur.fetchall()

In [6]:
#Printing all the rows in tuples
for row in tuples:
    print("job_id =", row[0])
    print("job_name =", row[1])
    print("expected_revenue =", row[2])
    print("revenue_id =", row[3])
    print("order_id =", row[4])
    print("order_name =", row[5])
    print("month_of_service =", row[6])
    print("delivered_impressions =", row[7])
    print("revenue =", row[8], "\n")

job_id = 3
job_name = Fixture J3
expected_revenue = 50.00
revenue_id = 5
order_id = 3
order_name = Fixture O3
month_of_service = 1.0
delivered_impressions = 1000
revenue = 10.00

job_id = 3
job_name = Fixture J3
expected_revenue = 50.00
revenue_id = 6
order_id = 3
order_name = Fixture O3
month_of_service = 1.0
delivered_impressions = 1000
revenue = 10.00

job_id = 3
job_name = Fixture J3
expected_revenue = 50.00
revenue_id = 7
order_id = 3
order_name = Fixture O3
month_of_service = 1.0
delivered_impressions = 1000
revenue = 10.00

job_id = 3
job_name = Fixture J3
expected_revenue = 50.00
revenue_id = 8
order_id = 4
order_name = Fixture O4
month_of_service = 1.0
delivered_impressions = 90000
revenue = 1005.60

job_id = 3
job_name = Fixture J3
expected_revenue = 50.00
revenue_id = 9
order_id = 4
order_name = Fixture O4
month_of_service = 2.0
delivered_impressions = 6500
revenue = 22.78

job_id = 3
job_name = Fixture J3
expected_revenue = 50.00
revenue_id = 10
order_id = 4
order_name = Fixture O4
month_of_service = 2.0
delivered_impressions = 500
revenue = 0.00

job_id = 3
job_name = Fixture J3
expected_revenue = 50.00
revenue_id = 11
order_id = 4
order_name = Fixture O4
month_of_service = 3.0
delivered_impressions = 0
revenue = 10.00

In [7]:
#Name of columns for pandas dataframe
columns = ["job_id", "job_name", "expected_revenue", "revenue_id", "order_id",
              "order_name", "month_of_service", "delivered_impressions", "revenue"]
#Creating dataframe
df = pd.DataFrame(tuples, columns=columns)
df.head()

,job_id,job_name,expected_revenue,revenue_id,order_id,order_name,month_of_service,delivered_impressions,revenue
0,3,Fixture J3,50.00,5,3,Fixture O3,1.0,1000,10.00
1,3,Fixture J3,50.00,6,3,Fixture O3,1.0,1000,10.00
2,3,Fixture J3,50.00,7,3,Fixture O3,1.0,1000,10.00
3,3,Fixture J3,50.00,8,4,Fixture O4,1.0,90000,1005.60
4,3,Fixture J3,50.00,9,4,Fixture O4,2.0,6500,22.78

In [8]:
#Ensuring float types are actually float types
df['revenue']=df['revenue'].astype(float)
df['expected_revenue']=df['expected_revenue'].astype(float)

In [9]:
#Calculating ecpm based on ecpm = (total_cost/total_impressions) *1000

df['ecpm'] = (df['revenue'] / df['delivered_impressions'] )*1000

In [10]:
#Creating overall_df to summarize data at the job_id level.

overall_df = df.groupby(['job_name', 'job_id']).agg({"expected_revenue": "mean", "revenue": "sum", \
                           "month_of_service":pd.Series.nunique}).reset_index()

In [11]:
#Determining whether total_revenue is greater than expected revenue.

overall_df['met_expected_revenue'] = overall_df.apply(lambda x: True if (x['expected_revenue'] <= x["revenue"])\
                                                      else False, axis =1)

In [12]:
#Sanity Check
overall_df.head()

,job_name,job_id,expected_revenue,revenue,month_of_service,met_expected_revenue
0,Fixture J3,3,50.0,1068.38,3.0,True

In [13]:
#Creating dictionary with job_id information

dict_results = {"job_name": overall_df["job_name"].values[0]}
dict_results["expected_revenue"] = overall_df["expected_revenue"].values[0]
dict_results["total_revenue"] = round(overall_df["revenue"].values[0], 2)
dict_results["revenue_target_met"] = overall_df["met_expected_revenue"][0]
dict_results["month_of_service_count"] = int(round(overall_df["month_of_service"].values[0]))

In [14]:
# Ensuring inf is replace with 0, especially for ecpm where impressions are 0.
df.replace(np.inf, 0, inplace = True)

In [15]:
# Creating df at the order_id 
order_df = df.groupby(["order_id", "order_name"]).agg({"revenue": "sum", "ecpm": "mean", \
                                                     "delivered_impressions": "sum"}).reset_index()

In [16]:
#Sanity Check
order_df.head()

   order_id  order_name  revenue       ecpm  delivered_impressions
0         3  Fixture O3    30.00  10.000000                   3000
1         4  Fixture O4  1038.38   3.669487                  97000

In [17]:
# Calculating total_ecpm per order_id level.
order_df['total_ecpm'] = order_df['revenue']/(order_df['delivered_impressions']/1000)

In [18]:
#Sanity Check
order_df

   order_id  order_name  revenue       ecpm  delivered_impressions  total_ecpm
0         3  Fixture O3    30.00  10.000000                   3000   10.000000
1         4  Fixture O4  1038.38   3.669487                  97000   10.704948

In [19]:
# Creating dictionary at the order_id level that is nested within the job_id dictionary.
dict_orders = {}
for row in order_df.iterrows():
    temp_dict = {}
    temp_dict["order_name"] = row[1]["order_name"]
    temp_dict["total_revenue"] = round(row[1]["revenue"],2)
    temp_dict["average_ecpm"] = round(row[1]["ecpm"],2)
    temp_dict["total_ecpm"] = round(row[1]["total_ecpm"],1)
    dict_orders[row[1]["order_id"]] = temp_dict
    #dict_orders[row[1]["order_id"] = temp_dict

In [20]:
# Nesting order_id dictionary into the overall job_id dictionary results.
dict_results["orders"] = dict_orders

In [21]:
# Sanity Check
dict_results

{'job_name': 'Fixture J3',
 'expected_revenue': 50.0,
 'total_revenue': 1068.38,
 'revenue_target_met': True,
 'month_of_service_count': 3,
 'orders': {3: {'order_name': 'Fixture O3',
   'total_revenue': 30.0,
   'average_ecpm': 10.0,
   'total_ecpm': 10.0},
  4: {'order_name': 'Fixture O4',
   'total_revenue': 1038.38,
   'average_ecpm': 3.67,
   'total_ecpm': 10.7}}}

In [22]:
#Testing dictionary
tester = {
            "job_name": "Fixture J3",
            "expected_revenue": 50.00,
            "total_revenue": 1068.38,
            "revenue_target_met": True,
            "month_of_service_count": 3,
            "orders": {
                3: {
                    "order_name": "Fixture O3",
                    "total_revenue": 30.00,
                    "average_ecpm": 10.00,
                    "total_ecpm": 10.00
                },
                4: {
                    "order_name": "Fixture O4",
                    "total_revenue": 1038.38,
                    "average_ecpm": 3.67,
                    "total_ecpm": 10.70
                }
            }
        }

In [23]:
#Passed?
print(dict_results == tester)

True